<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retropoktan.rptrello">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TrelloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentStatusBarTheme"></activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launcher" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.Launcher" />
        <activity android:name=".ui.activity.SettingsActivity"></activity>
        <activity android:name=".ui.activity.BoardDetailActivity"></activity>
        <activity
            android:name=".ui.activity.TaskDetailActivity"
            android:theme="@style/AppTheme.TransparentStatusBarTheme" />
    </application>

</manifest>
